# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

#builds
builds/*

#directories
Logs/*

# Metadata
*.aliases
*.lvlps
.cache/

# Logs
*.log
docs/Antidoc-Output/
